body {
	background-color: #333;
	font: 1em Helvetica;
	color: #333;
}

h1, h2, h3 {
	font: 1.1em Ubuntu;
	color: #000;
	margin: 0;
}

p {
	font-size: 0.8em;
}

header {
	background-color: #ADD8E6;
	margin: 10px 0;
	padding: 40px;
}

#searchfield {
	-webkit-justify-content: center;
	justify-content: center;
	display: -webkit-flex;
	display: flex;
}

#searchfield input,
#searchfield button {
	border: none;
	height: 40px;
	padding: 0 10px;
	font: 1.1em Ubuntu, Helvetica;
	box-shadow: 0 0 5px #AAA inset, 0 0 2px #000;
}

#searchfield input {
	min-width: 300px;
}

section {
	background-color: #FFF;
	margin: 10px 0;
	padding: 10px;
}

.admin {
	display: none !important;
}

.media {
	background-color: #ADD8E6;
	box-shadow: 0 0 1px #000;
	-webkit-align-items: center;
	align-items: center;
	position: relative;
	border-radius: 2px;
	overflow: hidden;
	margin: 0 0 10px;
	display: -webkit-flex;
	display: flex;
	padding: 5px;
}

.media:last-child {
	margin: 0;
}

.media .rank {
	position: relative;
	width: 30px;
}

.media .image {
	margin-right: 20px;
	width: 140px;
}

.media .info {
	-webkit-flex: 1;
	flex: 1;
}

.rank span {
	position: absolute;
	height: 20px;
	margin: auto;
	bottom: 0;
	top: 0;
}

.vote {
	min-width: 50px;
	text-align: center;
 	flex-direction: column;
	-webkit-flex-direction: column;
	display: -webkit-flex;
	display: flex;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.vote span {
	-webkit-flex: 1;
	flex: 1;
}

.upvote, .downvote { cursor: pointer; }
.upvote.active { color: orange; }
.downvote.active { color: #4444FF; }

@media all and (max-width: 720px) {
	.media .image {
		display: none;
	}
}

.loading-wheel {
	visibility: hidden;
}

.loading-wheel.shown {
	visibility: visible;
}


.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #cec;
}

.tt-dropdown-menu {
  width: 600px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-dropdown-menu > div {
	float: left;
	width: 50%;
}


.tt-dataset-youtube {
	background-color: #b00;
}

.tt-dataset-spotify {
	background-color: #0b0;
}

.x-button {
	font-weight: bolder;
	position: absolute;
	cursor: pointer;
	color: red;
	right: 10px;
	top: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.x-button:hover {
	color: white;
}

::selection {
	color: #fff;
	text-shadow: none;
	background: #002224; /* Safari */
}
::-moz-selection {
	color: #fff;
	text-shadow: none;
	background: #002224; /* Firefox */
}
