body {
	margin: 0;
	font-family: sans-serif;
}

#search_video {
	margin: 30px 56px;
}
#search_video input {
	border: 5px solid #BE3C30;
	font-size: 2em;
	width: 700px;
}

.left {
	float: left;
}

.video-row {
	height: 145px;
}

.image-container {
	width: 150px;
	text-align: center;
}

h3 {
	margin: 0;
	padding: 0;
}

.video-time {
	padding: 0 4px;
	font-weight: bold;
	font-size: 11px;
	background-color: #000;
	color: #fff!important;
	height: 14px;
	line-height: 14px;
	opacity: .75;
	vertical-align: top;
	zoom: 1;
	display: inline-block;
	border-radius: 3px;
}

#toaster {
	position: absolute;
	top: 0;
	display: none;
	z-index: 20;
	height: 100px;
	width: 100%;
	background: rgba(20,20,20,0.8);
	text-align: center;
	color: #fff;
}

.typeahead {
  width: 574px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid #024e6a;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.tt-dropdown-menu {
  width: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 14px;
}

.tt-suggestion h4 {
	margin: 0;
}

.tt-suggestion + .tt-suggestion {
  font-size: 14px;
  border-top: 1px solid #ccc;
}

.twitter-typeahead .tt-suggestion.tt-cursor {
  background: rgba(190, 60, 48, 0.5);
}